{{ 'section-scroll-prompt.css' | asset_url | stylesheet_tag }}
 {% for block in section.blocks %}
    {% case block.type %}

      {% when 'text' %}
        <div class="prompt-text h3 center" {{ block.shopify_attributes }}> 
           {{ block.settings.prompttext | escape }} 
        </div>

      {% when 'icon' %}
        <a href="#" {{ block.shopify_attributes }}>
          <div id="mouse-scroll">
            <div class="mouse">
              <div class="mouse-in"></div>
            </div>
            <div>
                <span class="down-arrow-1"></span>
                <span class="down-arrow-2"></span>
                <span class="down-arrow-3"></span>
              </div>
          </div>
          </a></div>

    {% endcase %}
  {% endfor %}


{% schema %}
{
  "name": "Scroll down prompt",
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Scroll Down Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "prompttext",
          "label": "Prompt Text",
          "default": "Discover more"
          
        }
      ]
    },
    {
      "name": "Scroll Down Icon",
      "type": "icon"
    }
  ],
  "presets": [
    {
      "name": "Default Scroll Prompt",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "icon"
        }
      ]
    }
  ]
}
{% endschema %}
